/* ---------- Search bar ---------- */
form input[type=search] {
  position: absolute;
  top: 45px;
  right: 8%;
  box-sizing: border-box;
  width: 145px;
  min-width: 10%;
  height: 30px;
  padding: 1px 5px 1px 32px;
  background: url(search.svg) no-repeat -7px 10px;
  background-color: rgba(245, 245, 245, .6);
  border: none;
  border-radius: 3px;
  outline: none;
  color: rgb(35, 35, 35);
  transition: all .3s ease-out;
}
form input[type=search]:focus {
  width: 20%;
  box-shadow: 0 0 3px rgba(35, 35, 35, .8);
  transition: all .4s ease-out;
}
form input[type=search]::selection {
  background-color: rgba(35, 35, 35, .8);
  color: rgba(245, 245, 245, .8);
}

@media screen and (max-width: 1000px) {
  form input[type=search] {
    width: 180px;
    transition: box-shadow .15s ease-out;
  }
  form input[type=search]:focus {
    width: 180px;
    transition: box-shadow .2s ease-out;
  }
}

@media screen and (max-width: 500px) {
  form input[type=search] {
    position: relative;
    display: block;
    top: 0;
    right: 0;
    width: 60%;
    margin: 0 auto;
  }
  form input[type=search]:focus {
    width: 60%;
  }
}
/* -------------------------------- */

/* ---------- Search results ---------- */
ul#results {
  list-style: none;
  width: 85%;
  margin: 45px auto;
  padding: 0;
  /* ----- Flex ----- */
  display: flex;
  flex-direction: column;
}

ul#results a {
  position: relative;
  display: block;
  max-width: 750px;
  margin: 12px auto;
	padding: 10px 35px;
	border: 2px solid rgba(35, 35, 35, .6);
	border-radius: 5px;
  color: inherit;
  text-decoration: none;
  user-select: none;
  transition: border .2s ease-out;
}
ul#results a:hover {
	border: 2px solid rgba(35, 35, 35, .9);
  transition: border .2s ease-out;
}

ul#results h2 {
  margin-left: 25px;
}

ul#results div#date {
  position: absolute;
  top: 18px;
  right: 18px;
  font-size: 11px;
  color: rgb(75, 75, 75);
}

ul#results p {
  text-align: justify;
  font-size: 14px;
}

@media screen and (max-width: 500px) {
  ul#results a {
    padding-top: 20px;
  }
}
/* ------------------------------------ */

/* ---------- Next/Prev buttons ---------- */
a#prev, a#next {
  cursor: pointer;
  display: block;
  width: 30px;
  height: 30px;
  margin-bottom: 15px;
  background-image: url(arrow.svg);
  -webkit-tap-highlight-color: transparent;
}
a#prev {
  float: left;
  margin-left: 5%;
  transform: rotate(180deg);
}
a#next {
  float: right;
  margin-right: 5%;
}
/* --------------------------------------- */
